<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Fit-Life</title>
        <%- include('tags/links') %>
    </head>
    <body style="background-color: rgba(195, 191, 191, 0.6);">
        <!-- Navigation-->
        <%- include('tags/navbar') %>
        <!-- Header-->
        <header class="bg-dark py-5 banner">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"></h1>
                    
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5 view-data">
            <div class="container px-4 px-lg-5 mt-5">
                <%- include('tags/table-add-manager') %>
            </div>
        </section>
        <!-- Modal -->
        <%- include('tags/modal') %>
        <!-- Footer-->
        <%- include('tags/footer') %>