<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>Fit_Life-Users</title>
  <link rel="icon" type="image/x-icon" href="/icon/ico.png" />
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  <link rel="stylesheet" type="text/css" href="/css/comprasMediaScreen.css">
  
</head>
<body>

  <div id='botonera'>
    
    <a href="/logout2" class='botonProductos' style="color: rgb(235, 120, 216);">Cerrar</a>
    <a href="/usuarios" class='botonProductos' style="color: rgb(235, 120, 216);">Users</a>
    <a href="/compras" class='botonProductos' style="color: rgb(235, 120, 216);">Compras</a>
    <a href="/productos" class='botonProductos' style="color: rgb(235, 120, 216);">Productos</a>
    <a href='/categorias' class='botonProductos' style="color: rgb(235, 120, 216);">Categorias</a>

  </div>

  <h1 style="font-family: sans-serif;">Usuarios</h1>
  <div class="table">
    
    <table>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
            <th>Correo</th>
            <th>Password</th>
            <th><a href="/addUser"><img src="/img/add.png" id='add'></a></th>
          </tr>
          <%for(const usuario of modelo){%>
            <tr>
              <td><%=usuario.id%></td>
              <td><%=usuario.nombre%></td>
              <td><%=usuario.apellido%></td>
              <td><%=usuario.cedula%></td>
              <td><%=usuario.correo%></td>
              <td><%=usuario.password%></td>
              <td class="icon">
              <a href="/updateUser/<%= usuario.id%>"><img src="/img/update.png" width="30"></a>
              <a href="/deleteUser/<%= usuario.id%>"><img src="/img/delete.png" width="30" id="delete"></a>
             </td>
            </tr>
           <%}%>
        </table>
       
  </div>

</body>
</html>
